/*****공통사항*****/
.wrap{max-width: 1200px; margin: 0 auto;}
.arrow_down{font-size: 0.5em !important;}
.txt_green{color: #83b735;}
/******HEADER******/
header{background-color: #83b735;}
header > div{width: 100%;}
.hd_lt{float: left;}
.hd_rt{float: right;}
.hd_lt li, .hd_rt li{display: inline-block; padding:1rem 0.75rem; color: #fff; 
										 border-right: 0.5px solid rgba(255,255,255,0.7);}
.hd_lt li:last-child{border-right:none}
.hd_rt li:last-child{border-right:none}
.hd_lt li span {font-size: 8px;}
.hd_rt li a{padding:0.5rem;}
.hd_rt li a .fa{font-size: 1.2rem;}

/***Top***/
.tops{width: 100%; padding: 30px 0; font-size: 1rem;}
.logos{width: 270px; float: left; padding-right: 20px; padding-top: 6px;}
.searchs{width: calc(100% - 540px); float: left;}
.searchs > li{border: 1px solid rgba(0,0,0,0.2); float: left; height: 44px;}
.searchs > li:nth-child(1){width:calc(100% - 210px); padding-top: 4px;}
.searchs > li:nth-child(1) > input{border: none;}
.searchs > li:nth-child(1) > input:focus{outline: none;}
.searchs > li:nth-child(2){width:166px; text-align: center; line-height: 42px; margin-left: -1px; margin-right: -1px;
													 position: relative;}
ul.search_catelist{display:none; border: 1px solid #ccc; position: absolute; top:42px; right: -1px; min-width: 166px;
										border-color: #ccc;box-shadow: 1px 2px 2px rgba(0,0,0,0.2); }										 
ul.search_catelist > li{padding: 0.5em 0.5em 0.5em 2em; color:#999; line-height: 1.5em; text-align: left;}										 
.searchs > li:nth-child(3){width:44px; text-align: center; line-height: 42px; font-size: 1.5em; color:#ccc;}
.searchs > li:nth-child(3):hover{background-color: #83b735; color: #fff;}

.logins{width: 270px; float: right;}
.logins > li{float: right; line-height: 42px; text-align: right; padding-left:10px; font-size:1.25em;}
.logins .fa{font-size: 1.25em;}
.logins li:nth-child(2){position: relative;}
.logins .w3-badge{padding: 2px 4px; line-height: 1em; font-size: 0.75em; background-color: #83b735;
									position: absolute; top: 0.25em; right: -0.5em;}

.mains{width: 100%; border-top:1px solid #ccc; border-bottom: 1px solid #ccc; height: 52px; font-size: 14px;}
.navs{position: relative;}
.navs > li:not(.menu_modal){float: left; height: 50px; line-height: 50px;}
.navs > .cate_top{height: 50px; width: 270px; background-color: #83b735; padding: 0 1em; color:#fff; font-weight: 400;}
.navs > .cate_top > :first-child{font-size: 1.25em; margin-right: 0.3em;}
/*.navs > .cate_top > :nth-child(2) .arrow_down{color: #ccc;}*/
.navs > .cate_top > :last-child{float: right;}
.navs > .menu{width:calc(100%-540px); }
.navs > .menu > ul > li{float: left; margin-left: 1.2em; position: relative;}
.navs > .menu > ul > li:nth-child(1),
.navs > .menu > ul > li:nth-child(2){position: static !important;}
.navs > .etc{width: 270px; float: right !important; text-align: right;}
.navs > .etc > :nth-child(2){padding: 0 0.5em;}
.menu_modal{background-color: #fff; top:51px; left:0; position: absolute !important; width: 100%; border: 1px solid #fff;
					  display: none; padding: 3em 0; border-bottom: 1px solid #ccc;}

/*
.home > li{width: 20%; padding: 2%; float: left;}
.home > li > :first-child{box-shadow:0 3px 3px rgba(0,0,0,0.3);}
.home > li > :last-child{padding: 1em; text-align: center;}
*/

.menu ul li{cursor: pointer;}

#modal1 > ul{width: 20%; padding: 2%; float: left;}
#modal1 > ul > :first-child{box-shadow: 0 1PX 3px rgba(0,0,0,0.3);}

#modal1 > ul > :last-child{margin: 1em 0; text-align: center; color: #333; font-weight: 400;}

#modal2 > ul{padding: 2%; float: left;}
#modal2 ul li{line-height: 2.4em; position: relative;}
#modal2 .tooltips{position: absolute; padding: 0.2em 0.3em 0.4em; color: #fff; font-size: 0.5em; line-height: 1em; top:-10px; left:50px;}
#modal2 .tooltips > div{width: 7px; height: 7px; transform: rotate(55deg); position: absolute; left: 20%; bottom:-3px;}
#modal2 .title a{font-weight: 400; color:#222;}
#modal2 .title a:hover{color:#83b735;}
#modal2 .cont a{color: #999; font-size: 0.9em;}
#modal2 .cont a:hover{color: #444; font-size: 1em;}

#modal3{width: 900px;}
#modal3 > ul{padding:2% 0; float: left;}
#modal3 ul li{line-height: 2.4em; position: relative; width: 323px;}
.box{border-bottom:1px solid #ccc; margin-bottom: 0.5em;}
.box > div:nth-child(1){float: left; width: 100px; height: 100px; margin-right: 10px;}
.box > div:nth-child(2){float: right; width: 180px;}
.box > div img {width:100%;}
.txt .fo li{width: 90px !important; float: left; font-size: 0.8em; color: #ccc;}
.txt div{line-height: 1.2em; margin: 0.5em 0 1em;}
#modal3 .tooltips{position: absolute; padding: 0.2em 0.3em 0.4em; color: #fff; font-size: 0.5em; line-height: 1em; top:-10px; }
#modal3 .tooltips > div{width: 7px; height: 7px; transform: rotate(55deg); position: absolute; left: 20%; bottom:-3px;}
#modal3 .title a{font-weight: 400; color:#222;}
#modal3 .title a:hover{color:#83b735;}
#modal3 .cont a{color: #999; font-size: 0.9em;}
#modal3 .cont a:hover{color: #444; font-size: 1em;}


#modal4{width: 900px;}
#modal4 > ul{padding: 2%; float: left;}
#modal4 ul li{line-height: 2.4em; position: relative;}
#modal4 .tooltips{position: absolute; padding: 0.2em 0.3em 0.4em; color: #fff; font-size: 0.5em; line-height: 1em; top:-10px; left:50px;}
#modal4 .tooltips > div{width: 7px; height: 7px; transform: rotate(55deg); position: absolute; left: 20%; bottom:-3px;}
#modal4 .title a{font-weight: 400; color:#222;}
#modal4 .title a:hover{color:#83b735;}
#modal4 .cont a{color: #999; font-size: 0.9em;}
#modal4 .cont a:hover{color: #444; font-size: 1em;}


#modal5{width: 900px;}
#modal5 > ul{padding: 2%; float: left;}
#modal5 ul li{line-height: 2.4em; position: relative;}
#modal5 .tooltips{position: absolute; padding: 0.2em 0.3em 0.4em; color: #fff; font-size: 0.5em; line-height: 1em; top:-10px; left:50px;}
#modal5 .tooltips > div{width: 7px; height: 7px; transform: rotate(55deg); position: absolute; left: 20%; bottom:-3px;}
#modal5 .title a{font-weight: 400; color:#222;}
#modal5 .title a:hover{color:#83b735;}
#modal5 .cont a{color: #999; font-size: 0.9em;}
#modal5 .cont a:hover{color: #444; font-size: 1em;}
